---
import HeroImage from "~/components/hero-image.astro";
import type { FooterLink } from "~/types";
import type { iconProps } from './ShareIcons'
import { Icon } from "astro-icon/components"
import type { JSX } from 'preact'

const { generator, site } = Astro;

const links: Array<FooterLink> = [
  {
    url: "https://www.youtube.com/@justincurieux31",
    description: "Chaine Youtube",
    icon: "fa-brands:youtube",
  },
  {
    url: "https://www.twitch.tv/Justin_Curieux",
    description: "Chaine Twitch",
    icon: "fa-brands:twitch",
  },
  {
    url: "https://discord.com/channels/1054405752422420531/1054405753240305736",
    description: "Justin Curieux on Discord",
    icon: "fa-brands:discord",
  },
  {
    url: "https://twitter.com/JustinCurieux",
    description: "fil Twitter",
    icon: "fa-brands:twitter",
  },
];
---

<footer class="relative flex h-64 items-center justify-center">
  <div class="absolute inset-0 overflow-hidden opacity-40">
    <HeroImage />
  </div>
  <ul class="relative grid grid-cols-2 gap-4 sm:grid-cols-4">
    {
      //links.map((link) => (
      links.map((item) => (
        <li>
          {/* {item} */}
          
          <a
            class="flex h-16 w-16 items-center justify-center rounded-full border-2 border-current p-4"
            href={item.url}
            target="_blank"
          >
            <span class="sr-only">{item.description}</span>
            <Icon class="h-full" name={item.icon} />
          </a>
          
        </li>
      ))
    }
  </ul>
</footer>
