---
import HeroImage from "~/components/hero-image.astro";
import { FooterSocials } from "./FooterSocials";

export interface FooterProps {
  icons_size?:number
}

const { icons_size = 48 } = Astro.props;
---

<footer class="relative flex h-64 items-center justify-center">
  <div class="absolute inset-0 overflow-hidden opacity-40">
    <HeroImage />
  </div>
  <FooterSocials client:only="preact" />
</footer>
